<!DOCTYPE html>
<html lang="en"xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="vendors/linericon/style.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">

  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:insert="fragments/menu :: menu"></div>
<!--================Checkout Area =================-->
<section class="checkout_area section-margin--small">
  <div class="container">
    <form th:object="${userDetailDto}" action="/sendOrder" method="post">
    <div class="billing_details">
      <div class="row">
        <div class="col-lg-8">
          <h3>Billing Details</h3>
          <div class="row contact_form" action="#" method="post" novalidate="novalidate">
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="fullName" th:values="${userDetailsDto.fullName}">
            </div>
            <div class="col-md-12 form-group p_star">
              <input readonly type="text" class="form-control" id="address" th:values="${userDetailsDto.fullName}">
            </div>
            <div class="col-md-12 form-group">
              <div class="creat_account">
                <input type="checkbox" id="f-option2" name="selector">
                <label for="f-option2">Create an account?</label>
              </div>
            </div>
            <div class="col-md-12 form-group mb-0">
              <div class="creat_account">
                <h3>Shipping Details</h3>
                <input type="checkbox" id="f-option3" name="selector" onclick="toggleDifferentAdress()">
                <label for="f-option3">Ship to a different address?</label>
              <script>
               function toggleDifferentAdress(){
                 let checkbox = document.getElementById("differentAdress");
                 let textArea = document.getElementById("message");
                 if(checkbox.checked){
                   textArea.style.display = "block";
                 }else {
                   textArea.style.display = "none";
                 }
               }
              </script>
                <style>
                  #message{
                    display:none
                  }
                </style>
              </div>
              <textarea th:field="*{shippingAdress}" class="form-control" name="message" id="message" rows="1" placeholder="Shipping Adress"></textarea>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="order_box">
            <h2>Your Order</h2>
            <style>
              .order_box.list li a span.first{
                float:left;
              }
            </style>
            <ul class="list">
              <li><a href="#"><h4>Product <span>Total</span></h4></a></li>
              <li th:each="item:${shoppingCartDto.items}">
                <a href="#" ><span th: text="${item.name}"></span><span class="middle" th:text="${'x ' +item.quantity}"></span><span class="last" th:text="${'$' +item.total}"></span></a></li>
            </ul>
            <ul class="list list_2">
              <li><a href="#">Subtotal <span th:text="${'$'+ shoppingCartDto.subTotal}"></span></a></li>
              <li><a href="#">Shipping <span>Flat rate: $50.00</span></a></li>
              <li><a href="#">Total <span th:text="${'$'+ shoppingCartDto.total}"></span></a></li>
            </ul>
            <div class="text-center">
              <button class="button button-paypal" type="submit">Send Order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</section>
<!--================End Checkout Area =================-->

</body>
</html>